@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-hide::-webkit-inner-spin-button,
.arrow-hide::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* @keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 20s linear infinite;
} */

@keyframes marquee {
  0%   { transform: translateX(500%); }
  100% { transform: translateX(-100%); }  /* Only move halfway (1 full message width) */
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

